header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 50px 84px 0 84px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10;
}
header a {
  display: flex;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}
header nav a {
  color: var(--white-clr);
  font-size: 12px;
  font-weight: bold;
}
header nav a:hover {
  color: var(--light-purple-gradient-clr);
  transform: scale(1.2);
}
header button {
  width: 154px;
  height: 48px;
  border-radius: 40px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
header button:nth-child(1) {
  border: 3px solid var(--white-clr);
  color: var(--white-clr);
  background-color: transparent;
}
header button:nth-child(1):hover {
  background-color: var(--white-clr);
  color: var(--text-clr);
}
header button:nth-child(2) {
  color: var(--text-clr);
  background: linear-gradient(
    to right,
    var(--purple-gradient-clr),
    var(--light-purple-gradient-clr)
  );
}
header button:nth-child(2):hover {
  background: linear-gradient(
    to right,
    var(--light-purple-gradient-clr),
    var(--purple-gradient-clr)
  );
}
header .buttons-container {
  display: flex;
  gap: 38px;
}
header.scrolled {
  background-color: var(--text-clr);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px 84px;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
header.scrolled .logo {
  position: absolute;
  top: 20px;
}
header.scrolled .logo:nth-child(2) {
  display: none;
}
header.mobile {
  width: 100%;
  position: absolute;
  padding: 10px 20px 10px 20px;
  position: fixed;
  top: 0;
  display: none;
}
header.mobile .logo {
  position: absolute;
  top: 0px;
  z-index: 20;
}
header.mobile nav {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 100%;
  padding: 15px 0 0 0;
  background-color: var(--bg-clr);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
header.mobile.scrolled nav,
header.mobile.scrolled {
  background-color: var(--bg-clr);
}
header.mobile nav .buttons-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
header.mobile nav .buttons-container button {
  width: 100%;
  border-radius: 0;
  border: none;
}
header.mobile .bar-container {
  display: inline-block;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.bar1,
.bar2,
.bar3 {
  background: linear-gradient(
    to right,
    var(--light-purple-gradient-clr),
    var(--purple-gradient-clr)
  );
  border-radius: 40px;
}
.bar2
{
    width: 20px;
    margin-left: 15px;
}
.bar1
{
    
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
header.mobile .nav-closed {
  display: none;
}
header.mobile .nav-open {
  visibility: visible;
}
@media screen and (max-width: 1110px) {
  header {
    padding: 16px 16px;
  }
}
@media screen and (max-width: 1000px) {
  header {
    padding: 16px 16px;
  }
  header .logo:nth-child(2) {
    display: none;
  }
  header img.logo-icon {
    transform: scale(0.7);
  }
  header button {
    width: fit-content;
    padding: 0 8px;
  }
}
@media screen and (max-width: 790px) {
  header.desktop {
    display: none;
  }
  header.mobile {
    display: flex;
  }
}
